[Desktop Entry]
Name=Acer Nitro Control
Comment=Fan speed control and hardware monitoring for Acer Nitro
Comment[ru]=Управление кулерами и мониторинг температур Acer Nitro
Exec=nitro-control
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Monitor;Settings;
Keywords=acer;nitro;fan;cooler;temperature;
